priority -50

# React Testing Library - https://testing-library.com/docs/react-testing-library/intro
snippet rsuite "React Testing Library - Init test file"
import { render, screen } from '@testing-library/react';

import $1 from './$2';

describe('<$1 />', () => {
	it('should $3', () => {
    render(<$1 />);

    expect(screen.$4).toBeInTheDocument();
	});
});
endsnippet
