priority -50

# React Testing Library (RTL) - https://testing-library.com/docs/react-testing-library/intro
snippet rsuite "React Testing Library - Init test file"
import { render, screen } from '@testing-library/react';

import $1 from './$2';

describe('<$1 />', () => {
	it('should $3', () => {
    render(<$1 />);

    expect(screen.$4).toBeInTheDocument();
	});
});
endsnippet

## RTL - Async Methods (https://testing-library.com/docs/dom-testing-library/api-async)

## waitFor(cb, options) - https://testing-library.com/docs/dom-testing-library/api-async/#waitfor
snippet wfor "React Testing Library - waitFor(cb, options)"
await waitFor(() => {
  $1
}$2);
endsnippet

## React Hooks Testing Library - https://react-hooks-testing-library.com/
## Repository - https://github.com/testing-library/react-hooks-testing-library

## act() - https://react-hooks-testing-library.com/reference/api#act
## This is the same `act function` that is exported from your chosen renderer.
## https://reactjs.org/docs/test-utils.html#act
snippet act "act(fn)"
act(() => $1);
endsnippet
